@charset "utf-8";

html,
body,
div,
p,
form,
label,
ul,
li,
dl,
dt,
dd,
ol,
img,
button,
b,
em,
strong,
small,
h1,
h2,
h3,
h4,
h5,
h6 {
	margin: 0;
	padding: 0;
	border: 0;
	list-style: none;
	font-style: normal;
	font-size: 12px;
}

body {
	font-family: SimHei, 'Helvetica Neue', Arial, 'Droid Sans', sans-serif;
	font-size: 12px;
	color: #333;
	background: #f2f2f2;
}

a,
a.link {
	color: #666;
	text-decoration: none;
	font-weight: 500;
}

a,
a.link:hover {
	color: #666;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	font-weight: normal;
}

.login {
	width: 100%;
	height: 100%;
	background-image: linear-gradient(45deg, #874da2 0%, #c43a30 100%);
	background-size: cover;
	position: fixed;
	z-index: -10;
}

.welcome {
	width: 100%;
	margin: 25% 0;
}

.welcome img {
	width: 100%;
}

.login-inp {
	margin: 0 2.5rem 1.5rem 2.5rem;
	border: 0.083rem solid #fff;
	border-radius: 2.08rem;
	display: flex;
	align-items: center;
}

.login-inp label {
	width: 4em;
	text-align: center;
	display: inline-block;
	color: #fff;
}

.login-inp input {
	width: 80%;
	flex: 1;
	height: 3.3rem;
	line-height: 3.3rem;
	color: #fff;
	background-color: transparent;
	border: none;
	outline: none;
}

.login-inp input::-webkit-input-placeholder {
	color: #FFF;
}

.zhuceyanzheng {
	margin: 0 2.5rem 1.5rem 2.5rem;
	border: 0.83rem solid #fff;
	border-radius: 2.08rem;
	display: flex;
	align-items: center;
	overflow: hidden;

}

.zhuceyanzheng input {
	width: 80%;
	flex: 1;
	height: 3.3rem;
	line-height: 3.3rem;
	color: #fff;
	background-color: transparent;
	border: none;
	outline: none;

}

.zhuceyanzheng label {
	width: 4em;
	text-align: center;
	display: inline-block;
	color: #fff;
}

.zhuceyanzheng input::-webkit-input-placeholder {
	color: #FFF;
}

.zhuceyanzheng .btn {
	height: 3.5rem;
	background: yellowgreen;
	color: #FFF;
	line-height: 3.5rem;
	/*margin-right: 20px;*/
	width: 8.33rem;
	text-align: center;
}

.zhuceyanzheng a {
	display: block;
	color: #FFF;
}

.login-inp a {
	display: block;
	width: 100%;
	text-align: center;
	line-height: 3.3rem;
	color: #fff;
	font-size: 1.3rem;
	letter-spacing: 0.41rem;
}

.login-txt {
	text-align: center;
	color: #fff;
}

.login-txt a {
	color: #fff;
	padding: 0 0.41rem;
}

.top {
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding: 1rem 1.5rem 1rem 0.83rem;
	box-sizing: border-box;
	/*background: #912941;*/
	color: #FFF;

}

.top a {
	color: #FFF;
}

.top a .iconfont {
	font-size: 1.5rem;
}
