body {
	/* height: 100%; */
	background: #F9F8F5;
}

.user {
	
	/* height: 100%; */
	padding-top: 1.6rem;
	padding-bottom: 1.6rem;
}

.user-card {
	height: 18.3rem;
	border-radius: 1.3rem;
	/*background:#912941;*/
	background-image: linear-gradient(45deg, #874da2 0%, #c43a30 100%);
	margin: 0rem 0.8rem 0px 0.8rem;
	box-sizing: border-box;
	padding: 1.3rem;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}

.user-card .icon {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.user-card .icon .code a {
	display: flex;
	flex-direction: column;
	justify-content: center;
	color: #FFF;
}

.user-card .icon .code .iconfont {
	font-size: 3.3rem;
	padding-bottom: 0.25rem;
}

.user-card .icon img {
	width: 7.5rem;
	height: 4.1rem;
}

.user-card .font {
	display: flex;
	justify-content: center;
	flex-direction: column;
	align-items: center;
	color: #FFF;
}

.user-card .font h3 {
	font-size: 3.3rem;
	padding-bottom: 1.6rem;
}

.user-card .font p {
	font-size: 1.166rem;
	padding-bottom: 1.66rem;
	color: #ddd;
	text-align: center;
}

.user-card .font span {
	font-size: 1.166rem;
}

.user-card .font span a {
	font-size: 1.166rem;
	color: #FFF;
}

.user-jifen {
	display: flex;
	align-items: center;
	justify-content: space-around;
	margin: 0.8rem 0.8rem;
	box-sizing: border-box;
	padding: 1.66rem 0px;
	border-radius: 0.7rem;
	background: #FFF;
}

.item-nav {
	display: flex;
	align-items: center;
	flex-direction: column;
	font-size: 1.5rem;
}

.item-nav p {
	padding-bottom: 0.85rem;
}

.itemafter:after {
	content: "";
	border-right: 1px solid #C6C3C3;
	height: 4.12rem;
	position: absolute;
	left: 50%;
}

.item-nav span {
	color: #912941;
}

.user-list ul li {
	font-size: 1.33rem;
	background: #FFF;
	padding: 1.16rem 1.6rem;
	border-bottom: 0.08rem solid #eee;
}

.user-list ul li a {
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.user-list .user-list-item {
	display: flex;
	align-items: center;
	vertical-align: middle;
}

.user-list .user-list-item .icon {
	padding-right: 1.66rem;
}

.user-list .iconfont {
	vertical-align: middle;
	font-size: 1.5rem;
	font-weight: bold;
}

.btn {
	display: flex;
	justify-content: center;
	align-items: center;
	margin-top: 1.5rem;
}

.btn div a {
	display: block;
	width: 12.9rem;
	height: 3.33rem;
	background-image: linear-gradient(45deg, #874da2 0%, #c43a30 100%);
	text-align: center;
	line-height: 3.3rem;
	color: #FFF;
}
