.top{
    width: 100%;
    position: fixed;
    top: 0;
    z-index: 9999;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 12px 18px 12px 10px;
    box-sizing: border-box;
    /*background: #912941;*/
    color: #FFF;
    background-image: linear-gradient(45deg, #874da2 0%, #c43a30 100%);
}
.top a{
    color: #FFF;
}
.top a .iconfont{
    font-size: 18px;
}
.buydetails{
    margin-top: 40px;
    background: #f2f2f2;
    height: 100%;
}
.order{
    box-sizing: border-box;
    padding: 12px 20px;
    display: flex;
    flex-direction: column;
    font-size: 16px;
    background: #fff;
    margin-bottom: 10px;
}
.order span{
    margin-bottom: 10px;
}

.pro-list{
    display: flex;
    align-items: center;
    box-sizing: border-box;
    padding: 10px 20px;
    background: #fff;
    margin-bottom: 6px;
}
.pro-list img{
    height: 80px;
    width: 80px;
    border:1px solid #ddd;
    margin-right: 10px;
}
.pro-mes{

    display: flex;
    flex-direction: column;
    font-size: 16px;
}
.pro-mes .pirce{
    color: red;
    font-size: 18px;
}
.title{
    width: 244px;
    white-space:nowrap;
    overflow:hidden;
    text-overflow:ellipsis;
}
.pro-mes span{
    margin-bottom: 12px;
}
.list ul li{
    display: flex;
    justify-content: space-between;
    padding: 10px 20px;
    align-items: center;
    background: #fff;
    border-bottom: 1px solid #f2f2f2;
}
.newpirce{
    color: red;
    font-size: 18px;
}