.top{
    width: 100%;
    position: fixed;
    top: 0;
    z-index: 9999;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 12px 18px 12px 10px;
    box-sizing: border-box;
    /*background: #912941;*/
    color: #FFF;
    background-image: linear-gradient(45deg, #874da2 0%, #c43a30 100%);
}
.top a{
    color: #FFF;
}
.top a .iconfont{
    font-size: 18px;
}
.text{
    margin-top: 40px;
    padding: 30px 0px;
    font-size:18px;
    border-bottom: 1px solid #ddd;
    margin-bottom: 16px;
}
.text span{
    padding-left:14px;
    font-weight: bold;
}
.one-list{
    display: flex;
    padding: 0px 14px;
    box-sizing: border-box;
    margin-bottom: 16px;
    vertical-align: middle;
}
.one-list .size{
    font-size: 16px;
    font-weight: bold;
    padding-right: 24px;
    padding-top: 6px;

}
.one-list-item{
    display: flex;
    flex-direction: column;
    font-size: 16px;
    width: 68%;
}
.one-list-item span{
    padding-bottom: 14px;
    line-height: 26px;
}

.btn{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
}
.btn div a{
    display: block;
    width: 155px;
    height:40px;
    background-image: linear-gradient(45deg, #874da2 0%, #c43a30 100%);
    text-align: center;
    line-height: 40px;
    color: #FFF;
}