.top{
    width: 100%;
    position: fixed;
    top: 0;
    z-index: 9999;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1rem 1.5rem 1rem 0.833rem;
    box-sizing: border-box;
    /*background: #912941;*/
    color: #FFF;
    background-image: linear-gradient(45deg, #874da2 0%, #c43a30 100%);
}
.top a{
    color: #FFF;
}
.top a .iconfont{
    font-size: 1.5rem;
}
.activatedetails{
    padding-bottom: 1.667rem;
}
.text{
    margin-top: 3.333rem;
    padding: 2.5rem 0rem;
    font-size:1.5rem;
    border-bottom: 0.083rem solid #ddd;
    margin-bottom: 1.333rem;
}
.text span{
    padding-left:1.167rem;
    font-weight: bold;
}
.one-list{
    display: flex;
    padding: 0rem 1.167rem;
    box-sizing: border-box;
    margin-bottom: 1.333rem;
    vertical-align: middle;
}
.one-list .size{
    font-size: 1.333rem;
    font-weight: bold;
    padding-right: 2rem;
    padding-top: 0.5rem;

}
.one-list-item{
    display: flex;
    flex-direction: column;
    font-size: 1.333rem;
    width: 68%;
}
.one-list-item span{
    padding-bottom: 1.167rem;
    line-height: 2.167rem;
}

.btn{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 2.833rem;
}
.btn div a{
    display: block;
    width: 12.917rem;
    height:3.333rem;
    background-image: linear-gradient(45deg, #874da2 0%, #c43a30 100%);
    text-align: center;
    line-height: 3.333rem;
    color: #FFF;
}